<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsVXGkJxumi7kNdYDQym9-25ppzH98kdI</string>
	<key>GCM_SENDER_ID</key>
	<string>80974884525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordle</string>
	<key>PROJECT_ID</key>
	<string>wordle-game-a825b</string>
	<key>STORAGE_BUCKET</key>
	<string>wordle-game-a825b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80974884525:ios:6efd25422a9b037ab2a024</string>
	<key>DATABASE_URL</key>
	<string>https://wordle-game-a825b-default-rtdb.firebaseio.com</string>
</dict>
</plist>